@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap);

:root {
    --blue: #1f49ed;
    --black: #2c2c54;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--blue);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--blue);
    color: #fff;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: var(--black);
}

.heading {
    text-align: center;
    color: var(--black);
    padding: 1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--red);
}



.header-1 {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.logo {
    color: var(--black);
    font-weight: bolder;
    font-size: 3rem;
}

.logo i{
    padding-right: .5rem;
    color: var(--red);
}

.header-1 .search-box-container {
    display: flex;
    height: 5rem;
}

.header-1 .search-box-container #search-box {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}

.header-1 .search-box-container label {
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--black);
    text-align: center;
    cursor: pointer;
}

.header-1 .search-box-container label:hover {
    background: var(--black);
}

.header-2 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
}

.header-2.active{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;

}

.header-2 .navbar a{
    padding: .5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--black);
}

.header-2 .navbar a:hover {
    background: var(--blue);
    color: #fff;
}


.header-2 .icons a{
    font-size: 2.5rem;
    color: var(--black);
    padding-left: 1rem;
}

.header-2 .icons a:hover{
    color:var(--blue)
}

.table-consulta{
    width:100%;
    font-size:small;
}

#menu-bar {
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--black);
    padding: .8rem 1.5rem;
    color:var(--black);
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex: 1 1 40rem;
    padding-top: 5rem;
}

.home .content{
    flex: 1 1 40rem;
    
}

.home .content span{
    font-size: 3rem;
    color: #666;
    
}

.home .content h3{
    font-size: 5rem;
    color: var(--black);
    
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.banner-container .banner{
    flex: 1  1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    max-width: 50%;
}

.banner-container .banner img{
    height: auto;
    width: 100%;
    object-fit: cover;

}

.banner-container .banner .content {
    position: absolute;
    top:50%; left: 4%;
    transform: translateY(-50%);
    padding: 1rem;
}

.banner-container .banner .content h3 {
    font-size: 3rem;
    color: var(--black);    
}

.banner-container .banner .content .p {
    font-size: 2rem;
    color: #333;
}

.banner-container .banner:hover img{
    transform: scale(1.2) rotate(-5deg);
}


.home .image img{
    width: 100%;
    
}

.nowrap{
    text-wrap: nowrap;
}
.navbar-item-adm{
    padding:5px;
    margin:5px;
    line-height: 4.5rem;
}


.category .box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;    
}

.category .box-container .box{
    border: 1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    flex: 1 1 25rem;
}

.category .box-container .box img{
    width: 20rem;
    margin: .5rem 0;
}

.category .box-container .box h3{
    font-size: 3.5rem;
    color: var(--black);
}

.category .box-container .box p{
    font-size: 2rem;
    color: #666;
    padding: .5rem 0;
}

.category .box-container .box btn{
    display: block;
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.product .box-container .box img{
    height: 30rem;
}

.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: rgba(0,255,0,.1);
    color: var(--blue);
    padding: .7rem 1rem;
    font-size: 2rem;
}

.product .box-container .box .icons{
    position: absolute;
    top:.5rem; right:1rem;
}

.product .box-container .box .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color:var(--black);
    background: rgba(0,0,0,.05);
    border-radius: 50%;
    margin-top: .7rem;
}

.product .box-container .box .icons a:hover{
    background: var(--blue);
    color: #fff;
}

.product .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.product .box-container .box .stars i{
    padding: 1rem 1rem;
    font-size: 1.7rem;
    color:goldenrod;
}

.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.product .box-container .box .price span{
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}

.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.product .box-container .box .quantity .span{
    padding: 0 .7rem;
    font-size: 1.7rem;
}

.product .box-container .box .quantity input{
    border: 1rem solid rgba(0,0,0,.3);
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem;
    background: rgba(0,0,0,.05);
}

.product .box-container .box .btn{
    display: block;
}

.contact form{
    text-align: center;
    padding: 2rem;
    border: 1rem solid rgba(0,0,0,.3);
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    width: 49%;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}

.footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;

}

.footer .box-container .box .share a{
    padding: 0;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: .7rem 0;
}


.footer .box-container .box .links{
    padding: 1rem 0;
}

.footer .box-container .box .links a{
    display: block;
    padding: .5rem 0;
    font-size: 1.7rem;
    color:#333;
}

.footer .box-container .box .links a:hover{
    text-decoration: underline;
    color: var(--blue);
}

.footer .credit {
    padding: 2.5rem 1rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.footer .credit span{
    color: var(--blue);
}

.link_voltar{
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
    cursor: pointer;
    color: white;
    background: #1f49ed;
}
.link_voltar:hover{
    background: #2c2c54;
}






@media(max-width:1200px){
    html{
    font-size: 55%;
    }
}

@media(max-width:991px){
    .header-1,
    .header-2{
        padding: 2rem;
    }
}

section{
    padding: 2rem;
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    .header-2 .navbar{
        position: absolute;
        top:100%; left: 0; right:0;
        background: var(--black);
        padding:1rem 2rem;
        display: none;
    }
    .header-2 .navbar.active{
        display: initial;
    }

    .header-2 .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Cor do fundo escuro */
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background: var(--blue);
}

#register-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-button:hover {
    background: var(--blue);
}

#register-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-submit {
    background: var(--blue);
}

@media(max-width:450px){
    html{
    font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .header-1{
        flex-flow: column;
    }

    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }

    .logo{
        font-size: 4rem;
    }
    
}


.product-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.product-image {
    flex: 1.3;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.product-image img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
    display: block;
    border-radius: 5px;
}
.product-details {
    flex: 2;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-details h1 {
    font-size: 3.8rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.product-details p {
    font-size: 2rem;
    color: #666;
    margin-bottom: 4rem;
    padding: 0.rem;
    line-height: 3rem;
}


.add-to-cart-button {
    display: inline-block;
    background: var(--blue);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1rem; 
    margin-bottom: 3.7rem;
}

.add-to-cart-button:hover {
    background: var(--black);
}

.product-details h2 {
    font-size: 2.7rem;
    color: var(--black); 
    font-weight: bold;  
}

.product-details h3 {
    font-size: 2rem;
    color: var(--black); 
    font-weight: bold; 
    margin-top: 1rem; 
}

.corzinha {
    position: absolute; 
    bottom: 0; 
    margin-bottom: 1rem;
    font-size: 2rem;
}

.corzinha-text {
    background-color: green;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#carrinho {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
}

#titulo-carrinho {
    font-size: 4rem; 
    color: var(--black);
    margin-bottom: 1rem;
}

#lista-produtos {
    flex: 1.3;
}

#lista-produtos li {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--black);
}

#total {
    flex: 2;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 3.8rem;
    color: var(--black);
    margin-bottom: 2rem;
}

#concluir-pagamento {
    display: inline-block;
    background: var(--blue);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 3.7rem;
}

#concluir-pagamento:hover {
    background: var(--black);
}

.echo {
    font-size: 2rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

body {
    font-family: 'Nunito', sans-serif; 
}

.form-container {
    width: 100%; 
    max-width: 600px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 3.2rem auto;
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--black);
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    font-size: 1.6rem;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: var(--blue);
    color: #fff;
    padding: 12px;
    font-size: 1.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form div.btn-container {
    text-align: center;
}

.btn:hover {
    background-color: var(--black);
}

.credit span {
    color: var(--blue);
}

form .btn-return {
    display: inline-block;
    margin-top: 10px;
}

.footer-container {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
}